<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.Web">
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>